@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

body {
    padding-top: 54px;
    font-family: "Noto Sans", sans-serif;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


/*
 解析度調整請參考 
 http://screensiz.es/phone
 https://goo.gl/nBS1N2
 https://goo.gl/qpygzC
*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

@media only screen and (min-width: 991px) {
    .navbar-brand {
        max-width: 30%;
    }
    .navbar li a {
        font-size: 18px
    }
    .navbar li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .navbar-brand {
        max-width: 40%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        max-width: 50%;
    }
    .navbar-nav {
        background: #fff;
        position: fixed;
        top: 100px;
        padding-top: 18px;
        bottom: 0;
        z-index: 400;
        left: 0;
        width: 160px;
        height: 300px;
        overflow-y: auto;
    }
}

.navbar-brand>img {
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link,
.navbar-nav li a:hover {
    background-color: transparent;
    color: #2dca98;
}


/*--------------------------------------------------------------
# header-area
--------------------------------------------------------------*/

@media only screen and (min-width: 1367px) {
    .header-area {
        padding-top: 200px;
        padding-bottom: 100px;
        height: auto;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1366px) {
    .header-area {
        padding-top: 130px;
        padding-bottom: 100px;
        height: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
    .header-area {
        padding-top: 100px;
        padding-bottom: 100px;
        height: auto;
    }
}

@media only screen and (max-width: 599px) {
    .header-area {
        padding-top: 50px;
        padding-bottom: 100px;
        height: auto;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}