@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

body {
    padding-top: 54px;
    font-family: "Noto Sans", sans-serif;
    background-image: url(img/index/background.jpg);
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


/*
 解析度調整請參考 
 http://screensiz.es/phone
 https://goo.gl/nBS1N2
 https://goo.gl/qpygzC
*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

@media only screen and (min-width: 991px) {
    .navbar-brand {
        max-width: 30%;
    }
    .navbar li a {
        font-size: 18px
    }
    .navbar li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .navbar-brand {
        max-width: 40%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        max-width: 50%;
    }
    .navbar-nav {
        top: 100px;
        padding-top: 18px;
        bottom: 0;
        z-index: 400;
        left: 0;
        overflow-y: auto;
    }
}

.navbar-brand>img {
    width: 100%;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link,
.navbar-nav li a:hover {
    background-color: transparent;
    color: #2dca98;
}


/* navbar 漸漸上縮特效 */

.top-nav-collapse {
    background-color: rgb(255, 227, 10, .8);
    transition: all 1s ease-in-out;
}


/*--------------------------------------------------------------
# header-area
--------------------------------------------------------------*/

@media only screen and (min-width: 1367px) {
    .header-area {
        padding-top: 200px;
        padding-bottom: 100px;
        height: auto;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1366px) {
    .header-area {
        padding-top: 130px;
        padding-bottom: 100px;
        height: auto;
    }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
    .header-area {
        padding-top: 100px;
        padding-bottom: 100px;
        height: auto;
    }
}

@media only screen and (max-width: 599px) {
    .header-area {
        padding-top: 50px;
        padding-bottom: 100px;
        height: auto;
    }
}

.button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
}

.button:hover {
    background: #fff;
    color: #18d26e;
}

@media only screen and (min-width: 1367px) {
    .carousel-item {
        height: 65vh;
        min-height: 80%;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1366px) {
    .carousel-item {
        height: 40vh;
        min-height: 80%;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width: 600px) and (max-width: 990px) {
    .carousel-item {
        height: 60vh;
        min-height: 80%;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 599px) {
    .carousel-item {
        height: 50vh;
        min-height: 80%;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.section-area {
    padding-top: 110px;
    padding-bottom: 110px;
    display: block;
    position: relative;
    z-index: 120;
}

.thumbnail img {
    width: 50%;
    height: auto;
}

.thumbnail:hover {
    opacity: 0.7;
}