<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EUPA</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body style="background-image: url(img/index/background.jpg)" data-spy="scroll">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="index.html">
            <!-- test-->
            <img src="img/index/EUPA logo.png" class="d-inline-block align-top img-responsive" alt="" /></img>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#product">產品系列</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#shopping">線上購物</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#market">銷售據點</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#maintenance">維修服務</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="header-area">
        <div id="carouselExampleIndicators" class="carousel-slider" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" v-bind:data-slide-to="index" v-bind:class="index == 0 ? 'active' : ''" v-for="(slider, index) in sliders"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div v-bind:class="['carousel-item', index == 0 ? 'active' : '']" v-bind:style="{ 'background-image': 'url(img/slider/' + slider.mold + ')' }" v-for="(slider, index) in sliders">
                    <div class="carousel-caption">
                        <a href="#" class="button" v-on:click="headerContent(slider)">查看</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <br/><br/>
    <!-- Page Content -->
    <div class="container">

        <section id="about" class="section-area">
            <div class="row mx-auto">
                <img src="img/about/4-01.jpg" class="content-image img-fluid d-block mx-auto">
            </div>
            <div class="w-100 mx-auto">
                <br/><br/>
                <p>EUPA誕生於1985年，是燦坤跨國集團下的著名家電品牌</p>
                <p>EUPA是歐風設計 EUROPE DESIGN與亞洲時尚ASIAN STYLE的合二為一<br/> 秉持著與時尚家居相融合的設計理念，將北歐簡約、優雅、環保等生活精髓融入產品研發中<br/>重多功能的多元化延伸，提供世界各地消費者時尚與多功能的環保家電<br/> 幫助每一個蹟亭有效利用資源，簡化家務，共能創造生活的喜悅與家電全新精緻體驗
                </p>

            </div>

            <div class="row">
                <div class="col-sm-8 col-md-offset-8 col-lg-offset-8"></div>
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <img src="img/about/潘董簽名.png" class="img-fluid img-responsive">
                </div>
            </div>
        </section>

        <section id="product" class="section-area">
            <h1 class="my-4 text-center">產品系列</h1>
            <div class="container">
                <div class="w-100">
                    <ul class="nav nav-tabs mb-3 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#coffee" v-on:click="getData('coffee')">咖啡文化</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cooking" v-on:click="getData('cooking')">美食調理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#food" v-on:click="getData('food')">食物處理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#gadgage" v-on:click="getData('gadgage')">居家幫手</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="coffee">
                        <div class="row">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="cooking">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="food">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="gadgage">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="shopping" class="section-area">
            <h1 class="my-4 text-center">線上購物</h1>
            <div class="row">
                <div class="text-center col-6 thumbnail">
                    <a href="https://udesign.udnfunlife.com/mall/Cc1a00.do" target="_blank"><img src="img/shop/shop1.png" class="img-responsive center-block col-6"></a>
                </div>
                <div class="text-center col-6 thumbnail">
                    <a href="https://www.citiesocial.com" target="_blank"><img src="img/shop/shop2.jpg" class="img-responsive center-block col-6"></a>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-6 thumbnail">
                    <a href="http://www.books.com.tw/" target="_blank"><img src="img/shop/shop3.png" class="img-responsive center-block col-6"></a>
                </div>
                <div class="text-center col-6 thumbnail">
                    <a href="http://www.momoshop.com.tw" target="_blank"><img src="img/shop/shop4.png" class="img-responsive center-block col-6"></a>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-6 thumbnail">
                    <a href="http://www.eslitespectrum.com.tw" target="_blank"><img src="img/shop/shop5.png" class="img-responsive center-block col-6"></a>
                </div>
                <div class="text-center col-6 thumbnail">
                    <a href="https://shopee.tw/" target="_blank"><img src="img/shop/shop6.jpg" class="img-responsive center-block col-6"></a>
                </div>

            </div>
        </section>

        <section id="market" class="section-area">
            <h1 class="my-4 text-center">銷售據點</h1>
            <div class="card">
                <div class="card-body mb-4">
                    <h4 class="my-4 text-center">全球據點</h4>

                    <!-- Stepper -->
                    <div class="steps-form">
                        <div class="steps-row setup-panel">
                            <div class="steps-step">
                                <a href="#step-1" type="button" class="btn btn-indigo btn-circle">1</a>
                                <p>台灣</p>
                            </div>
                            <div class="steps-step">
                                <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                <p>中國</p>
                            </div>
                            <div class="steps-step">
                                <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                <p>日本</p>
                            </div>
                            <div class="steps-step">
                                <a href="#" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                <p>其他</p>
                            </div>
                        </div>
                    </div>

                    <!-- First Step -->
                    <div class="row setup-content" id="step-1">
                        <div class="col-3 text-center">
                            <p>台北<br/>新竹<br/>台中<br/>台南<br/>高雄</p>
                        </div>
                        <div class="col-3 text-center">
                            <p>北京<br/>上海<br/>廈門</p>
                        </div>
                        <div class="col-3 text-center">
                            <p>東京<br/>大阪<br/>關西</p>
                        </div>
                        <div class="col-3 text-center">
                            <p>紐約<br/>馬德里<br/>吉隆坡</p>
                        </div>
                    </div>

                    <!-- Second Step -->
                    <div class="row setup-content" id="step-2">
                        <div class="col-3 text-center offset-3">
                            <p>北京<br/>上海<br/>廈門</p>
                        </div>
                    </div>

                    <!-- Third Step -->
                    <div class="row setup-content" id="step-3">
                        <div class="col-3 text-center offset-6">
                            <p>東京<br/>大阪<br/>關西</p>
                        </div>
                    </div>
                    <!-- Third Step -->
                    <div class="row setup-content" id="step-4">
                        <div class="col-3 text-center offset-9">
                            <p>紐約<br/>馬德里<br/>吉隆坡</p>
                        </div>
                    </div>
                </div>
                <div class="card-foot">
                    <div class="w-100 text-center">
                        <a href="https://www.facebook.com" target="_blank"><img src="img/market/F.png" class="img-responsive img-link"></a>&nbsp;
                        <a href="https://www.instagram.com" target="_blank"><img src="img/market/I.png" class="img-responsive img-link"></a>&nbsp;
                        <a href="https://www.youtube.com" target="_blank"><img src="img/market/Y.png" class="img-responsive img-link"></a>&nbsp;
                        <a href="https://path.com" target="_blank"><img src="img/market/P.png" class="img-responsive img-link"></a>&nbsp;
                        <a href="https://access.line.me/dialog/oauth/weblogin?client_id=1459630796&redirect_uri=https://business.line.me/auth?redirectUri%3Dhttps://business.line.me/sso/auth?response_type%253Dcode%2526scope%253Dopenid%2526client_id%253D1%2526redirect_uri%253Dhttps%25253A%25252F%25252Fadmin-official.line.me%25252Fs%2526state%253D2Tfvbe6cWgKq&response_type=code&state=1Rj80N"
                            target="_blank"><img src="img/market/L.png" class="img-responsive img-link"></a>&nbsp;
                        <a href="https://wx.qq.com/wechat?lang=zh_TW" target="_blank"><img src="img/market/W.png" class="img-responsive img-link"></a>&nbsp;
                        <a href="#" v-on:click="window.open('mailto:test@example.com');"><img src="img/market/M.png" class="img-responsive img-link"></a>
                    </div>
                </div>
            </div>
        </section>


        <section id="maintenance" class="section-area">
            <h1 class="my-4 text-center">維修服務</h1>
            <div class="col-md-11 ml-md-auto">
                <p>經確認為故障品後，客戶填寫線上維修單，經維修中心修復完畢後，再通知客戶。</p>
                <p>貨品於保固期間內為免費服務，不含配件（如變壓器）及天災如（泡水）等損壞。</p>
                <p>經檢驗後，若須收費維修，本公司將會事先報價，由客戶自行決定是否送修。</p>
                <p>客戶可經由維修進度查詢依維修編號或是聯絡人電子郵件及電話查詢維修進度。</p>
                <p>各項贈品不在本公司服務範圍內，請洽各贈品之原廠。</p>
            </div>
        </section>
        <div class="w-100"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark ">
        <div class="container ">
            <p class="m-0 text-center text-white ">Copyright &copy; 2018 EUPA Taiwan</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="vendor/vue/vue.min.js "></script>
    <script src="vendor/vue/axios/axios.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/vue/custom/vue-post.js"></script>
    <script src="vendor/vue/custom/vue-paginate.js"></script>
    <script src="vendor/jquery/jquery.blockUI.js"></script>
    <script src="vendor/jquery/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/main.js "></script>
</body>