<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EUPA</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/SmartWizard/css/smart_wizard.min.css" rel="stylesheet">
    <link href="vendor/SmartWizard/css/smart_wizard_theme_dots.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body style="background-image: url(img/index/background.jpg)" data-spy="scroll">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="index.html">
            <!-- test-->
            <img src="img/index/EUPA logo.png" class="d-inline-block align-top img-responsive" alt="" /></img>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#product">產品系列</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#shopping">線上購物</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#market">銷售據點</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">維修服務</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="header-area">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('img/slider/TSK-P103NBDQ.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('img/slider/TSK-2625ST.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('img/slider/TSK-2309BPZ.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/slider/TSK-2265GW.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/slider/TSK-2193W.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/slider/TSK-1837B.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <br/><br/>
    <!-- Page Content -->
    <div class="container">

        <section id="about" class="section-area">
            <div class="row mx-auto">
                <img src="img/about/4-01.jpg" class="content-image img-fluid d-block mx-auto">
            </div>
            <div class="w-100 mx-auto">
                <br/><br/>
                <p>EUPA誕生於1985年，是燦坤跨國集團下的著名家電品牌</p>
                <p>EUPA是歐風設計 EUROPE DESIGN與亞洲時尚ASIAN STYLE的合二為一<br/> 秉持著與時尚家居相融合的設計理念，將北歐簡約、優雅、環保等生活精髓融入產品研發中<br/>重多功能的多元化延伸，提供世界各地消費者時尚與多功能的環保家電<br/> 幫助每一個蹟亭有效利用資源，簡化家務，共能創造生活的喜悅與家電全新精緻體驗
                </p>

            </div>

            <div class="row">
                <div class="col-sm-8 col-md-offset-8 col-lg-offset-8"></div>
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <img src="img/about/潘董簽名.png" class="img-fluid img-responsive">
                </div>
            </div>
        </section>

        <section id="product" class="section-area">
            <h1 class="my-4 text-center">產品系列</h1>
            <div class="container">
                <div class="w-100">
                    <ul class="nav nav-tabs mb-3 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#coffee" v-on:click="getData('coffee')">咖啡文化</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cooking" v-on:click="getData('cooking')">美食調理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#food" v-on:click="getData('food')">食物處理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#gadgage" v-on:click="getData('gadgage')">居家幫手</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="coffee">
                        <div class="row">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="cooking">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="food">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="gadgage">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="shopping" class="section-area">
            <h1 class="my-4 text-center">線上購物</h1>
            <div class="row">
                <div class="text-center col-6 thumbnail">
                    <a href="https://udesign.udnfunlife.com/mall/Cc1a00.do" target="_blank"><img src="img/shop/shop1.png" class="img-responsive center-block col-6"></a>
                </div>
                <div class="text-center col-6 thumbnail">
                    <a href="https://www.citiesocial.com" target="_blank"><img src="img/shop/shop2.jpg" class="img-responsive center-block col-6"></a>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-6 thumbnail">
                    <a href="http://www.books.com.tw/" target="_blank"><img src="img/shop/shop3.png" class="img-responsive center-block col-6"></a>
                </div>
                <div class="text-center col-6 thumbnail">
                    <a href="http://www.momoshop.com.tw" target="_blank"><img src="img/shop/shop4.png" class="img-responsive center-block col-6"></a>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-6 thumbnail">
                    <a href="http://www.eslitespectrum.com.tw" target="_blank"><img src="img/shop/shop5.png" class="img-responsive center-block col-6"></a>
                </div>
                <div class="text-center col-6 thumbnail">
                    <a href="https://shopee.tw/" target="_blank"><img src="img/shop/shop6.jpg" class="img-responsive center-block col-6"></a>
                </div>

            </div>
        </section>



        <section id="market" class="section-area">
            <div class="card">
                <div class="card-body mb-4">
                    <!-- Stepper -->
                    <div class="steps-form w-100">
                        <div class="steps-row setup-panel">
                            <div class="steps-step">
                                <a href="#step-9" type="button" class="btn btn-indigo btn-circle">1</a>
                                <p>Step 1</p>
                            </div>
                            <div class="steps-step">
                                <a href="#step-10" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                <p>Step 2</p>
                            </div>
                            <div class="steps-step">
                                <a href="#step-11" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                <p>Step 3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark ">
        <div class="container ">
            <p class="m-0 text-center text-white ">Copyright &copy; 2018 EUPA Taiwan</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="vendor/vue/vue.min.js "></script>
    <script src="vendor/vue/axios/axios.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/vue/custom/vue-post.js"></script>
    <script src="vendor/vue/custom/vue-paginate.js"></script>
    <script src="vendor/jquery/jquery.blockUI.js"></script>
    <script src="vendor/jquery/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/SmartWizard/js/jquery.smartWizard.min.js"></script>
    <script src="js/main.js "></script>
</body>