<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EUPA</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body style="background-image: url(img/index/background.jpg)" data-spy="scroll">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="mainNav">
        <a class="navbar-brand js-scroll-trigger" href="index.html">
            <!-- test-->
            <img src="img/index/EUPA logo.png" class="d-inline-block align-top img-responsive" alt="" /></img>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#intro">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#product">產品系列</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">線上購物</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">銷售據點</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">維修服務</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="header-area" id="intro">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('img/slider/TSK-P103NBDQ.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('img/slider/TSK-2625ST.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('img/slider/TSK-2309BPZ.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/slider/TSK-2265GW.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/slider/TSK-2193W.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('img/slider/TSK-1837B.jpg')">
                    <div class="carousel-caption d-md-block">
                        <a href="#" class="button">查看</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <br/><br/>
    <!-- Page Content -->
    <div class="container">

        <section id="product" class="section-area">
            <h1 class="my-4 text-center">產品系列</h1>

            <!-- Marketing Icons Section -->
            <div class="-100">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#coffee" v-on:click="getData('coffee')">咖啡文化</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#cooking" v-on:click="getData('cooking')">美食調理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#food" v-on:click="getData('food')">食物處理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#gadgage" v-on:click="getData('gadgage')">居家幫手</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="coffee">
                        <div class="row">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in " id="cooking ">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in " id="food ">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                    <div class="tab-pane fade in " id="gadgage ">
                        <div class="row ">
                            <v-post :post="post" v-for='post in posts'></v-post>
                            <v-paginate></v-paginate>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark ">
        <div class="container ">
            <p class="m-0 text-center text-white ">Copyright &copy; 2018 EUPA Taiwan</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="vendor/vue/vue.min.js "></script>
    <script src="vendor/vue/axios/axios.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/vue/custom/vue-post.js "></script>
    <script src="vendor/vue/custom/vue-paginate.js "></script>
    <script src="vendor/jquery/jquery.blockUI.js "></script>
    <script src="vendor/jquery/jquery-easing/jquery.easing.min.js "></script>
    <script src="js/main.js "></script>
</body>